/* rubik-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rubik-v31-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/rubik-v31-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/rubik-v31-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/rubik-v31-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/rubik-v31-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/rubik-v31-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/rubik-v31-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/rubik-v31-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/rubik-v31-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lobster-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lobster-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

a {
  font-family: 'Rubik';
  font-weight:400;
  font-size: 20px;
  line-height:25px ;
  
  text-decoration: none;
}

input {
  outline: none;
}

button {
  border: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header{
  height: 986px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
    
    background-image: url('../imgs/kapuchino.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  
}

main {
  flex-grow: 1;
}
.navbar-left {
    display: flex;
    align-items: center;
   
  
}
.container {
    width: 100%;
    max-width: 1412px;
    margin: 0 auto;
    padding: 60px 40px;

}
.saitnav-container {
    display: flex;
      justify-content: space-between;
    align-items: center;
}
.logo {
} 
.bar{
  display: none;

}
.sait-logo {
display: flex;
gap: 26px;
}
.saitnav_links {
  display: flex;
  align-items: center;
  gap: 35px;
   a{
      color: white;
   }
}
a{
  color: white;
}
.title{
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 100px;
  line-height: 100%;
  text-align: center;
  color: white;
}
.strelka{
background-color: #F39C11;
padding: 19px;
border-radius: 50px;
}
.hiro {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  
}
.container {
     width: 100%;
    max-width: 1412px;
    margin: 0 auto;
}
.hiro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.down-arrov {
}
@media(max-width:1165px){
  .title{
    font-size: 80px;
  }
}
@media(max-width:955px){
  .logo{
    width: 150px;
    height: 50px;
  }
  .shop{
  
  width: 60px;
    height: 60px;

  }
  .user{
      width: 60px;
    height: 60px;
  }
}
@media(max-width:875px) {
  .bar{display: flex;}
  .saitnav_links{
    display: none;
  }
  .title{
    font-size: 60px;
  }
}
@media(max-width:960px){
  .title{
    font-style: 70px;
  }
}
@media(max-width:677px){
  .title{
    font-style: 5px;
  }
}
@media(max-width:650px){
  .sait-logo{
    gap: 10px;
  }
}
.mainsection{
  display: flex;
  
  background-color: #FFF4D8;
}
.container {
  width: 100%;
  max-width: 1412px;
  margin: 0 auto;
}
.mainsection-con {
  display: flex;
  align-items: center;
  gap: 135px;
}
.content {

}
.img {
}
.article{
  font-family:'Lobster' ;
  font-weight:400;
  font-size: 50px;
  line-height:50px ;
  margin-bottom:33px;
}
.text{
  font-family:'Rubik' ;
  font-weight:400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 33px;
}
.main-btn{
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  border-radius: 16px;
  background-color: #F39C11;
  padding: 20px 30px 20px 30px;
}
@media(max-width:1300px){
  .text{
    font-size: 15px;
    margin-bottom: 17px;
    line-height: 25px;
    
    

  }
  .article{
    margin-bottom: 17px;
  }
 .mainsection{
  gap: 69px;
 }
 .cofee-break{
  width: 487px;
  height: 437px;
 }
}
@media(max-width:950px){
.cofee-break{
  width: 400px;
  height: 387px;
}
}
@media(max-width:870px){
  .mainsection-con{
    flex-direction: column-reverse;
  }
  .article{
    text-align: center;
  }
  .tex{
    text-align: center;
  }
  .main-btn{
    margin-left: 120px;
    text-align: center;
  }
}
@media(max-width:500px){
  .cofee-break{
    width: 350px;
  }
  .main-btn{
    margin-left: 90px;
  }
}
@media(max-width:440px){
  .cofee-break{
    width: 330px;
  }
  .main-btn{
    margin-left: 70px;
  }
}
.box{
  width: 268px;
}
.boxs{
  display: flex;
  align-items: center;
  gap: 70px;
}
.secondmainsection{
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3D210C;
}
.secondmainsection h2{
  text-align: center;
}
.Features{
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 33px;
  color: white;
}
.icons{
  margin-bottom: 16px;
}
.high-qu{
  font-family: 'Rubik';
  font-weight: 600px;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
  color: white;
}
.informations{
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  
  color: white;
}
@media(max-width:1030px){
  .informations{
    line-height: 20px;
  }
}
@media(max-width:910px){
  .informations{
    line-height: 18px;
  }
  .Features{
    margin-bottom: 25px;
  }
  .high-qu{
    line-height: 26px;
  }
  .icons{
    width: 90px;
    height: 90px;
  }
}
@media(max-width:860px){
  .icons{
    width: 60px;
    height: 60px;
  }

}
@media(max-width:700px){
  .boxs{
    flex-direction: column;
    align-items: center;
  }
  .icons{
    text-align: center;
  }
}
.container{
  width: 100%;
  max-width: 1412px;
  margin: 0 auto;
}
.prices-container{
  display: flex;
}
.main-article{
  text-align: center;
}
.frist-btn{
  align-items: end;
  background-color: #F39C11;
  padding: 20px 30px 20px 30px ;
  border-radius: 10px;
  margin-bottom: 10px;

}
.prices{
    width: 100%;
  max-width: 1412px;
  margin: 0 auto;
  display: flex;
  background-color: #FFF4D8;
}
.chests{
  display: flex;
  flex-wrap: wrap;
  gap:40px;
}
.chest{
  border-radius:  16px; ;
  background-color: white;
  display: flex;
  flex-direction: column;
  
  
  justify-content: space-between;
  align-items: center;
}
.price{
  display: flex;
  gap: 98px;
  padding: 3px;
}
.chests-article{
font-family: 'Rubik'; 
font-weight: 600;
font-size: 30px;
line-height: 40px;
  
}
.chests-text{
  padding: 0px 10px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  
  
}
.pictures{
  padding: 10px;
  width: 398px;
}
.second-btn{
  border-radius: 8px;
  padding: 20px 60px 20px 60px;
  color: #F39C11;
  border: 1px solid #F39C11;
  background-color: transparent;
}
.mone{
  font-family: 'Rubik';
  font-weight:700;
  font-size: 40px;
  line-height: 40px;
}
@media(max-width:1410px){
  .price{
    gap: 80px;
  }
  .second-btn{
    padding: 10px 40px 10px 40px;
  }
  .chest{
    flex-wrap: wrap;
  }
}


