*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  border: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header{
  display: flex;
  flex-direction: column;
    height: 100vh;
    background-image: url('../imgs/kapuchino.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

main {
  flex-grow: 1;
}
.saitnav {
    display: flex;
  
}
.container {
    width: 100%;
    max-width: 1412px;
    margin: 0 auto;

}
.saitnav-container {
    display: flex;
      justify-content: space-between;
    align-items: center;
}
.logo {
}
.sait-logo {
display: flex;
gap: 26px;
}
.saitnav_links {
  display: flex;
  align-items: center;
  gap: 35px;
   a{
      color: white;
   }
}
.title{
  text-align: center;
  color: white;
}
.strelka{
background-color: #F39C11;
padding: 19px;
border-radius: 50px;
}
.hiro {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 108px;
}
.container {
     width: 100%;
    max-width: 1412px;
    margin: 0 auto;
}
.hiro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.down-arrov {
  


}
